/* Reset some basic elements */
*,
::before,
::after {
  box-sizing: border-box;
}

.logo {
  display: block;
  margin: 0 auto 20px;
  max-width: 300px; 
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.header-text {
  font-size: 1.2em;
  line-height: 1.5;
  margin: 20px 0;
}

.header-text .highlight {
  color: #ff6701;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 20px;
}

header p {
  margin-bottom: 10px;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.nav-list a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  display: flex;
  align-items: center;
}

.nav-list a:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Use a transparent white */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-list a::after {
  display: block;
  width: 0;
  height: 2px;
  transition: width 0.3s;
}

.nav-list a:hover::after {
  width: 100%;
}

.dog-list {
  display: grid;
  gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr); /* Default to 2 columns */
}

/* index.css */

/* Dog card styles */
.dog-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  transition: transform 0.2s, box-shadow 0.2s;
  padding: 0;
}

.dog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.dog-image-container {
  position: relative;
}

.dog-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.date-label {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #29a745;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}

.date-label span {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}

.date-label small {
  display: block;
  font-size: 0.8em;
}

.dog-info {
  padding: 10px;
}

.dog-info h2 {
  margin: 10px 0;
  color: #333;
  font-size: 1.2em;
}

.dog-card-info {
  display: flex;
  flex-direction: column;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.label {
  color: grey;
  flex-basis: 40%;
}

.value {
  flex-basis: 60%;
  text-align: left;
}

.actions-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.action-link {
  color: #ccc;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.action-link:hover {
  background-color: #ccc;
  color: white;
}

/* Ensure "카톡 오픈채팅" link wraps to the next line */
.dog-card a {
  display: inline-block;
  word-wrap: break-word;
  max-width: 100%;
}

.dog-details {
  font-family: 'Arial, sans-serif';
  color: #333;
  padding: 20px;
}
.dog-details h2{
  color: #ff6701;
}

.dog-details p{
  font-size: 16px;
}

.dog-details-header {
  text-align: left;
  margin-bottom: 20px;
}

.dog-details-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dog-details-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.dog-details-table td {
  border: 1px solid #ddd;
  padding: 8px;
  vertical-align: top;
}

.dog-details-table td strong {
  display: block;
  margin-bottom: 5px;
}


.dog-details-info {
  width: 35%;
  padding-right: 20px;
}

.dog-details-image {
  width: 65%;
  text-align: center;
}

.dog-details-img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  height: auto;
  display: block;
  margin: 0 auto;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.additional-images {
  display: grid;
  grid-gap: 10px;
  margin-top: 20px;
  width: 100%;
}

.additional-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.filter-container {
  display: flex;
  flex-direction: column; /* Change direction to column for better stacking */
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.filter {
  display: flex;
  flex-direction: column; /* Ensure filters stack vertically */
  gap: 10px;
  width: 100%; /* Ensure full width on mobile */
  align-items: center; /* Center align items */
}

.filter label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensure full width */
}

.filter-buttons {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 10px;
  width: 100%; /* Ensure full width */
  align-items: center; /* Center align buttons */
  margin-top: 10px;
}

input[type="text"],
select {
  padding: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
  width: 90%; /* Ensure inputs are 90% width */
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 90%; /* Ensure buttons are 90% width */
}

button:hover {
  background-color: #0056b3;
}


@media (max-width: 600px) {
  header h1 a{
    font-size: 28px;
  }
  header p{
    font-size: 13px;
  }

  .logo {
    display: block;
    margin: 0 auto 10px;
    max-width: 250px; 
  }

  .header-text .highlight {
    color: #ff6701;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 10px;
  }

  .dog-list {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for small screens */
  }

  .filter {
    flex-direction: column;
    align-items: center;
  }

  .filter-buttons {
    flex-direction: column;
    align-items: center;
  }

  .dog-card p {
    margin: 5px 0;
    font-size: 12px;
  }

  .dog-card h2 {
    margin: 5px 0;
    font-size: 18px;
  }

  .dog-list{
    display: grid;
  };

  .dog-details p {
    font-size: 13px;
  }

  .dog-details-content {
    flex-direction: column;
    align-items: center;
  }

  .dog-details-table {
    display: flex;
    flex-direction: column;
}

.dog-details-info, .dog-details-image {
    width: 100%;
}

.dog-details-info {
    padding-right: 0;
}

.dog-details-table td {
    display: contents;
    width: 100%;
    border: none;
    padding: 8px 0;
}

.dog-details-table tr {
  padding: 8px 0;
}
.dog-details-table td strong {
    display: inline-block;
    width: 40%;
    margin-right: 10px;
}

  .dog-details-info,
  .dog-details-image {
    flex-basis: 100%;
    margin-right: 0;
  }

  
}


@media (min-width: 601px) {
  .filter-container {
    flex-direction: column;
  }

  .filter {
    flex-direction: row; /* Align filters in a row on larger screens */
    justify-content: space-around; /* Space out the filter items */
    width: 100%; /* Ensure the filter container is full width */
  }

  .filter label {
    flex-direction: column;
    align-items: flex-start;
    width: auto; /* Let the labels adjust to content */
  }

  .filter-buttons {
    flex-direction: row; /* Align buttons in a row on larger screens */
    justify-content: center; /* Center the buttons */
    width: 100%; /* Ensure buttons container is full width */
    margin-top: 10px;
  }

  button {
    width: auto; /* Let the buttons adjust to content */
  }

  .additional-images {
    display: grid;
    margin-top: 20px; 
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
    width: 100%;
    gap: 10px;
  }
  
  .additional-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }
}



@media (min-width: 768px) {
  .dog-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .additional-images {
    display: grid;
    margin-top: 20px; 
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
    gap: 10px;
   }

}

@media (min-width: 1024px) {
  .dog-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .additional-images {
    margin-top: 20px; 
    max-width: 100%;
    grid-template-columns: repeat(4, 1fr);
   }
   .additional-images.two-images {
    grid-template-columns: repeat(2, 1fr);
}

.additional-images.three-images {
    grid-template-columns: repeat(3, 1fr);
}

.additional-images.four-images {
    grid-template-columns: repeat(4, 1fr);
}
}

/* Modal styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}