/* Reset some basic elements */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  text-align: center;
  padding: 20px 0;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.nav-list li {
  display: inline;
}

.nav-list a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.nav-list a:hover {
  text-decoration: underline;
}

.dog-list {
  display: grid;
  gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr); /* Default to 2 columns */
}

.dog-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  /* max-width: 200px; */
  text-align: left;
  background-color: #fff;
  transition: transform 0.2s;
  /* padding: 20px; Added padding */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures proper spacing between elements */
}

.dog-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 5px;
}

.dog-card h2 {
  margin: 10px 0;
  color: #ff6701;
  text-align: center;
  font-size: 22px;
}

.dog-card p {
  margin: 10px 0;
  font-size: 16px;
}



.dog-card .info {
  padding: 5px; /* Add 5px padding to info paragraphs */
  margin: 5px 0;
}

.dog-card:hover {
  transform: scale(1.05);
}

.more-details-container {
  display: flex;
  justify-content: flex-end; /* Aligns the link to the bottom right */
}

.more-details {
  color: #007bff;
  text-decoration: none;
  padding: 10px;
}

.more-details:hover {
  text-decoration: underline;
}

/* Ensure "카톡 오픈채팅" link wraps to the next line */
.dog-card a {
  display: inline-block;
  word-wrap: break-word;
  max-width: 100%;
}

.dog-details {
  font-family: 'Arial, sans-serif';
  color: #333;
  padding: 20px;
}
.dog-details h2{
  color: #ff6701;
}

.dog-details p{
  font-size: 16px;
}

.dog-details-header {
  text-align: left;
  margin-bottom: 20px;
}

.dog-details-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dog-details-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.dog-details-table td {
  border: 1px solid #ddd;
  padding: 8px;
  vertical-align: top;
}

.dog-details-table td strong {
  display: block;
  margin-bottom: 5px;
}


.dog-details-info {
  width: 35%;
  padding-right: 20px;
}

.dog-details-image {
  width: 65%;
  text-align: center;
}

.dog-details-img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  height: auto;
  display: block;
  margin: 0 auto;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.additional-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.additional-image {
  max-width: 100px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


.filter-container {
  display: flex;
  flex-direction: column; /* Change direction to column for better stacking */
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.filter {
  display: flex;
  flex-direction: column; /* Ensure filters stack vertically */
  gap: 10px;
  width: 100%; /* Ensure full width on mobile */
  align-items: center; /* Center align items */
}

.filter label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensure full width */
}

.filter-buttons {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 10px;
  width: 100%; /* Ensure full width */
  align-items: center; /* Center align buttons */
  margin-top: 10px;
}

input[type="text"],
select {
  padding: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
  width: 90%; /* Ensure inputs are 90% width */
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 90%; /* Ensure buttons are 90% width */
}

button:hover {
  background-color: #0056b3;
}

.additional-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center; /* Center the grid */
  margin-bottom: 50px;
}

.additional-image {
  width: 100%;
  max-width: 200px; /* Set the maximum width */
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  margin: 0 auto; /* Center the images within their grid cells */
}

@media (max-width: 600px) {
  header h1 a{
    font-size: 28px;
  }
  header p{
    font-size: 13px;
  }
  .dog-list {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for small screens */
  }

  .filter {
    flex-direction: column;
    align-items: center;
  }

  .filter-buttons {
    flex-direction: column;
    align-items: center;
  }

  .dog-card p {
    margin: 5px 0;
    font-size: 12px;
  }

  .dog-card h2 {
    margin: 5px 0;
    font-size: 18px;
  }

  .dog-list{
    display: grid;
  };

  .dog-details p {
    font-size: 13px;
  }

  .dog-details-content {
    flex-direction: column;
    align-items: center;
  }

  .dog-details-table {
    display: flex;
    flex-direction: column;
}

.dog-details-info, .dog-details-image {
    width: 100%;
}

.dog-details-info {
    padding-right: 0;
}

.dog-details-table td {
    display: contents;
    width: 100%;
    border: none;
    padding: 8px 0;
}

.dog-details-table tr {
  padding: 8px 0;
}
.dog-details-table td strong {
    display: inline-block;
    width: 40%;
    margin-right: 10px;
}

  .dog-details-info,
  .dog-details-image {
    flex-basis: 100%;
    margin-right: 0;
  }
}


@media (min-width: 601px) {
  .filter-container {
    flex-direction: column;
  }

  .filter {
    flex-direction: row; /* Align filters in a row on larger screens */
    justify-content: space-around; /* Space out the filter items */
    width: 100%; /* Ensure the filter container is full width */
  }

  .filter label {
    flex-direction: column;
    align-items: flex-start;
    width: auto; /* Let the labels adjust to content */
  }

  .filter-buttons {
    flex-direction: row; /* Align buttons in a row on larger screens */
    justify-content: center; /* Center the buttons */
    width: 100%; /* Ensure buttons container is full width */
    margin-top: 10px;
  }

  button {
    width: auto; /* Let the buttons adjust to content */
  }
}

.additional-images {
  display: grid;
  margin-top: 20px; 
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.additional-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .dog-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .additional-images {
    margin-top: 20px; 
    grid-template-columns: repeat(1, 1fr);
   }

}

@media (min-width: 1024px) {
  .dog-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .additional-images {
    margin-top: 20px; 
    grid-template-columns: repeat(4, 1fr);
   }
}

/* Modal styles */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}