/* Reset some basic elements */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  text-align: center;
  padding: 20px 0;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.nav-list li {
  display: inline;
}

.nav-list a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.nav-list a:hover {
  text-decoration: underline;
}

/* .dog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
} */

.dog-list {
  display: grid;
  gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr); /* Default to 2 columns */
}

.dog-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-width: 200px;
  text-align: left;
  background-color: #fff;
  transition: transform 0.2s;
  padding: 20px; /* Added padding */
  position: relative; /* To position the "더 보기 ..." link */
}

.dog-card img {
  width: 100%;
  height: auto;
}

.dog-card h2 {
  margin: 10px 0;
  color: #ff6701;
  text-align: center;
}

.dog-card p {
  margin: 5px 0;
}

.dog-card:hover {
  transform: scale(1.05);
}

.more-details {
  position: absolute; /* Align to bottom right */
  bottom: 20px;
  right: 20px;
  color: #007bff;
  text-decoration: none;
}

.more-details:hover {
  text-decoration: underline;
}

/* Ensure "카톡 오픈채팅" is in one line */
.dog-card p[style*="white-space: nowrap;"] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dog-details-img {
  width: 100%;
  max-width: 400px; /* Adjust the maximum width as needed */
  height: auto;
  display: block;
  margin: 0 auto 20px auto; /* Center the image and add margin */
}


.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.filter-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

input[type="text"],
select {
  padding: 5px;
  border: 1px solid #ccc;
  margin-left: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .dog-card {
    max-width: 100%;
  }

  .filter {
    flex-direction: column;
    align-items: center;
  }
  
}

@media (min-width: 600px) {
  .dog-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .dog-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .dog-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
